$score-red: #f44336;
$score-yellow: #ffeb3b;
$score-green: #4caf50;

.field {
  display: flex;
  flex-direction: column;
}

.password-strength {
  background: transparent;
  border-radius: 10px;
  height: 4px;
  transition: all 300ms ease-in-out;
  width: 0;

  &[data-score='null'] {
    background: #f00;
    width: 0;
  }

  &[data-score='0'] {
    background: $score-red;
    width: 5%;
  }

  &[data-score='1'] {
    background: $score-red;
    width: 25%;
  }

  &[data-score='2'] {
    background: $score-yellow;
    width: 50%;
  }

  &[data-score='3'] {
    background: $score-green;
    width: 75%;
  }

  &[data-score='4'] {
    background: $score-green;
    width: 100%;
  }
}

.icon {
  z-index: 1 !important;
}
