@use 'src/styles/variables.module' as variables;
@use 'src/styles/parts.module' as *;

.item {
  @extend %base-item-link;

  &-active {
    &::after {
      background: variables.$primary-button-main-color;
      border-radius: 3px;
      bottom: -10px;
      content: "";
      height: 3px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 80%
    }
  }
}
