@use 'src/styles/variables.module' as variables;

.header-item {
  padding: 0 !important;

  &::before {
    width: 0 !important;
  }
}

.mobile-dropdown {
  height: 100% !important;

  &:hover {
    background-color: transparent !important;
    color: variables.$primary-text-color;
  }

  > div {
    border: 0 !important;
  }

  &-icon {
    color: #fff;
  }
}
