@use 'src/styles/variables.module' as variables;

.app {
  color: variables.$primary-text-color;
  display: flex;
  flex-direction: column;
  font-family: MoscowSans, sans-serif;
  height: 100%;
  overflow: hidden auto;
}
