@use 'src/styles/_mq' as *;
@use '/src/styles/variables.module' as variables;

.segment {
  background-color: variables.$background-color !important;
  box-shadow: variables.$primary-box-shadow !important;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;

  @include mq($until: mobile) {
    column-gap: 30px;
    min-width: 350px;
    padding: 20px !important;
  }

  @include mq($from: mobile) {
    padding: 30px !important;
    row-gap: 20px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.first-block {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: space-between;
  line-height: 18px;
  margin-bottom: 10px;

  @include mq($until: mobile) {
    flex-direction: column;
    row-gap: 10px;
  }

  &-time-container {
    display: flex;
    flex-direction: column;

    @include mq($from: mobile) {
      align-items: flex-end;
    }
  }
}

.passenger-main-info-block {
  column-gap: 5px;
  display: flex;

  @include mq($until: mobile) {
    flex-direction: column;
  }

  @include mq($from: mobile) {
    flex-wrap: wrap;
  }

  &-name-container {
    column-gap: 5px;
    display: flex;

    @include mq($until: mobile) {
      flex-direction: column;
    }
  }

  &-name {
    font-weight: bold;
  }
}

.passenger-phones-content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  row-gap: 7px;
}

.employees-content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  row-gap: 15px;
}

.employee-content {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.divider {
  border-bottom: 1px solid #000;
}

@include mq($until: mobile) {
  .metro-line-container {
    margin-left: auto;
    margin-right: auto;
  }
}


