// Sizes
$header-height: 115px;

// Colors
$background-color: #fff;
$primary-text-color: #000;
$secondary-text-color: #d4212d;
$primary-button-text-color: #fff;
$primary-button-main-color: #d4212d;
$primary-button-additional-color: #b01b26;
$negative-button-main-color: #989494;
$negative-button-additional-color: #8a8787;
$positive-button-main-color: #21ba45;
$positive-button-additional-color: #1ea23b;
$dark-button-main-color: #989494;
$dark-button-additional-color: #8a8787;
$secondary-button-main-color: #e0e1e2;
$underscore-button-main-color: #d4212d;
$link-color: #d4212d;
