@use 'src/styles/_mq' as *;

.container {
  position: relative;
  
  @include mq($until: mobile) {
    display: flex;
    min-height: 300px;
    padding: 20px 20px 20px 0;
    width: 100%;
  }

  @include mq($from: mobile) {
    padding: 30px;
    width: 100%;
  }
}

.lines-container {
  display: flex;
  flex-wrap: nowrap;

  @include mq($until: mobile) {
    flex-direction: column;
  }
}

.dot,
%dot {
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 25px;
  position: absolute;
  width: 25px;

  @include mq($from: mobile) {
    top: -10px;
  }
}

.arrow,
%arrow {
  border-style: solid;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  z-index: 10;

  @include mq($from: mobile) {
    border-color: transparent transparent transparent #ccc;
    border-width: 13px 0 13px 13px;
    right: -5px;
    top: -10.5px;
  }

  @include mq($until: mobile) {
    border-color: #ccc transparent transparent;
    border-width: 13px 13px 0;
    bottom: -10.5px;
    right: -10.5px;
  }
}

.line-container {
  flex: 1 1 auto;
  position: relative;

  &:first-child {
    @include mq($until: mobile) {
      .station-top {
        top: -5px;
      }
    }

    .line::before {
      @extend %dot;
      background-color: var(--first-station-color);
      left: -10px;

      @include mq($until: mobile) {
        top: -10px;
      }
    }
  }

  &:last-child {
    .line::after {
      @extend %dot;
      background-color: var(--last-station-color);
      right: -10px;

      @include mq($until: mobile) {
        bottom: -10px;
      }
    }

    .station-bottom {
      @include mq($until: mobile) {
        bottom: -5px;
      }

      @include mq($from: mobile) {
        bottom: auto;
        top: -20px;
        transform: translate(50%, -50%);
      }
    }
  }

  &:not(:last-child) {
    .line::after {
      @extend %arrow;
    }
  }
}

.line {
  position: relative;

  @include mq($until: mobile) {
    border: 0;
    height: 100%;
    width: 5px;
  }

  @include mq($from: mobile) {
    border: 0 none;
    height: 5px;
    overflow: visible;
  }
}

@include mq($until: mobile) {
  .crosswalking-station-container {
    align-items: center;
    bottom: -7px;
    display: flex;
    flex-direction: column;
    left: 20px;
    position: absolute;
    row-gap: 5px;
    transform: translateY(50%);
  }

  .start-station-container {
    left: 20px;
    position: absolute;
    top: 5px;
    transform: translateY(-50%);
  }

  .finish-station-container {
    bottom: -5px;
    left: 20px;
    position: absolute;
    transform: translateY(50%);
  }
}

.station,
%station {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;

  @include mq($until: mobile) {
    max-width: 70px;
  }

  @include mq($from: mobile) {
    max-width: 85px;
    text-align: center;
  }

  &-top {
    @extend %station;
    position: absolute;

    @include mq($until: mobile) {
      top: 0;
      transform: translateY(50%);
    }

    @include mq($from: mobile) {
      top: -20px;
      transform: translate(-50%, -50%);
    }
  }

  &-bottom {
    @extend %station;
    position: absolute;

    @include mq($until: mobile) {
      bottom: 0;
      transform: translateY(50%);
    }

    @include mq($from: mobile) {
      bottom: -20px;
      right: 0;
      transform: translate(50%, 50%);
    }
  }
}

.duration {
  font-size: 10px;
  font-weight: 700;
  line-height: 13px;
  position: absolute;
  width: max-content;

  @include mq($until: mobile) {
    left: 10px;
    top: 50%;
    transform: translateY(50%);
  }

  @include mq($from: mobile) {
    left: 50%;
    top: -7px;
    transform: translateX(-50%);
  }
}
