.container {
  column-gap: 10px;
  display: flex;
  height: 66px;
  justify-content: space-between;
  padding: 15px 20px;
}

.buttons-container {
  column-gap: 10px;
  display: flex;
}

.toggle-container {
  align-items: center;
  column-gap: 10px;
  display: flex;
}

.filter-container {
  align-items: center;
  column-gap: 15px;
  display: flex;
}
