table {
  border: 1px solid #000;
  border-collapse: separate;
}

th, td {
  border: 0.5px solid #000;
  border-collapse: collapse;
}

th {
  padding: 5px 15px;
}

.head-hour-cell {
  background: #fff;
  position: sticky;
  top: 0;
}

.head-minutes-cell {
  background: #fff;
  position: sticky;
  top: 31px;
}

.employee-cell,
%employee-cell {
  padding: 10px;
  text-wrap: nowrap;
}

.employee-content-cell {
  @extend %employee-cell;
  background: #fff;
  left: -20px;
  position: sticky;
}

.table-container {
  height: calc(100% - 66px);
  overflow: auto;
  padding: 0 20px;
  position: relative;
}
