table {
  border: 1px solid #000;
  border-collapse: separate;
}

th, td {
  border: 0.5px solid #000;
  border-collapse: collapse;
}

th {
  padding: 5px 15px;
}

.active-cell {
  padding: 5px 15px;
}

.table-container {
  height: calc(100% - 66px);
  overflow: auto;
  padding: 0 20px 20px;
  position: relative;
}
