table {
  border: 2px solid #000;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000;
  border-collapse: collapse;
}

th {
  padding: 5px 15px;
}

.employee-cell {
  padding: 10px;
  text-wrap: nowrap;
}

.table-container {
  height: calc(100% - 66px);
  overflow: auto;
  padding: 0 20px;
}
